{% extends 'main/base.html' %}
{% block title %}Request List{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-sm-12">
        <a href="{% url 'main:home' %}"><button type="button" class="btn btn-danger btn-lg btn-block">Back</button></a>
        <br>
        <h1>Common Area Request List</h1>
        <br>
        <table class="table table-striped table-light" style="color:black;">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Due Date</th>
              <th scope="col">Technician</th>
            </tr>
          </thead>
          <tbody>
          {% for r in commonAreaRequestList %}
            <tr>
              <td scope="row"><a href="{% url 'main:commonAreaRequestList' %}{{r.id}}/">{{r.title}}</a></td>
              <td>{{r.due_date}}</td>
              <td>{{r.technician}}<br>{{r.technician.get_full_name}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
          <h1></h1>
          <h1></h1>
          <h1></h1>
        
      </div>
    </div>
</div>
{% endblock %}