{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-sm-12">
        <h1>Work Order System</h1>
        <h2><a href="/admin">Admin Area</a></h2>
        <h2><a href="/crl">Client Requests</a></h2>
        <h2><a href="/carl">Common Area Requests</a></h2>
        <h2><a href="/t">Technicians</a></h2>
      </div>
    </div>
</div>
{% endblock %}