{% extends 'main/base.html' %}
{% block title %}Request List{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-sm-12">
        <h1>Request List</h1>
        <table class="table table-striped table-light" style="color:black;">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Technician</th>
              <!--<th scope="col">Handle</th>-->
            </tr>
          </thead>
          <tbody>
          {% for request in requestList %}
            <tr>
              <td scope="row">{{request.title}}</td>
              <td>{{request.description}}</td>
              <td>{{request.technician}}<br>{{request.technician.get_full_name}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
          <h1></h1>
          <h1></h1>
          <h1></h1>
        
      </div>
    </div>
</div>
{% endblock %}