{% extends 'main/base.html' %}
{% block title %}Technician List{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-sm-12">
        <h1>Tech List</h1>
        
        <br>
        <table class="table table-striped table-light" style="color:black;">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Contact Info</th>
              
            </tr>
          </thead>
          <tbody>
          {% for t in technicianList %}
            <tr>
              <td>{{t.user_account.username}}</td>
              <td>{{t.get_full_name}}</td>
              <td>
                Email: <a href="mailto:{{t.email}}">{{t.email}}</a>
                <br>
                Phone: <a href="tel:{{t.phone_number}}">{{t.phone_number}}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
          <h1></h1>
          <h1></h1>
          <h1></h1>
        
      </div>
    </div>
</div>
{% endblock %}